@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  font-family: "Pretendard Variable";
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.w900 {
  font-weight: 900;
}

.w800 {
  font-weight: 800;
}

.w700 {
  font-weight: 700;
}

.w600 {
  font-weight: 600;
}

.w500 {
  font-weight: 500;
}

.w400 {
  font-weight: 400;
}

.w300 {
  font-weight: 300;
}

.w200 {
  font-weight: 200;
}

.w100 {
  font-weight: 100;
}
