main {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containers {
  margin-top: 5vh;
  width: 92vw;
}

#topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topContainerSpliter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45vw;
  height: 50vh;
}

#topContainerTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.containerTitle {
  font-weight: 700;
  font-size: 2em;
}

small {
  margin-bottom: 2px;
  margin-left: 4px;
}

.topContainerRanking {
  color: #bdbdbd;
  padding: 2vh 2vw;
  margin-top: 2vh;
  border-radius: 1vh;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  width: calc(100% - 4vw);
  height: 100%;
}

.topContainerRankingCategory {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1vh;
  border-bottom: 1px solid #bdbdbd;
}

.bottomContainers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapContainer {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.addContainer {
  color: #4584d6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 2vh;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  border-radius: 1vh;
  width: 29vw;
  height: 10vw;
  border: 1px solid #bdbdbd;
}
